on: [push, pull_request]

name: Test and Build

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go-version: [1.13.x]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Verify versions
        run: go version

      - name: Cache build artifacts
        id: cache-go
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go

      - name: Install dependencies
        run: go get ./vigil_reporter

      - name: Build code
        run: go build ./vigil_reporter

      - name: Test code
        run: go test ./vigil_reporter
